<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheets' href='../../public/stylesheets/style.css'> 
</head>
<body>
    <h1>Flights</h1>
    <% flights.forEach(idx => { %>
    <a href='/flights/<%= flights._id %>'><ol>
        <ls><%= idx.airline %></ls>
        <ls><%= idx.flightNo %></ls>
        <ls><%= idx.departs %></ls>
    </ol>
    <a>
    <% }) %>
    <a href='/flights/addFlight'>New Flight</a> 
</body>
</html>